<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<%= image_tag('06_01.jpg', :class => "profile_image") %>

<h1 class="top_name">Yuji Yamada</h1>


</body>
</html>
